h1{
    text-align: center;
}
img{
    height: 100px;
    width: 100px;
}
a img{
    height: 50px;
    width: 50px;
}
h1{
    background-color: lightblue;
}
footer{
    background-color: lightcyan;
}
nav h3 a{
    color: black;
    text-decoration: none;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 10px;
    margin: 25px 25px;
    padding: 5px 5px;
}
Header{
    background-color: darkblue;
}
h2{
    text-align: center;
    background-color: lightblue ;
}
main{
    background-color: aliceblue;
    margin: 0 auto;
    max-width: 1000px;
}
main a{
    text-decoration: none;
    background-color: aquamarine;
    
}
.img{
    text-align: center;
    background-color: lightblue;
}
.text{
    background-color: lightskyblue;
}
html{
    background-color: rgb(48, 95, 137);
}
main{
    background-color: lightseagreen;
}
head{
    background-color: blue;
}
body{
     margin: 0 auto;
    max-width: 1000px;
}
